<launch>
    
    <!-- ARGUMENTS - MOVE_BASE -->
    <arg name="mode" default="ack"/>
    <arg name="base_global_planner" default="global_planner/GlobalPlanner"/> 
    <!-- <arg name="diff_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->
    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/> 
    <arg name="cmd_vel_topic" default="/steer_bot/ackermann_steering_controller/cmd_vel" />
    <arg name="odom_topic" default="/steer_bot/ackermann_steering_controller/odom"/>

    <!-- LAUNCH MOVE_BASE NODE -->
    <param name="/use_sim_time" value="true"/>
    <node pkg="move_base" type="move_base" respawn="true" name="move_base">
        <param name="base_global_planner" value="$(arg base_global_planner)" />
        <param name="base_local_planner" value="$(arg base_local_planner)"/>
        
        <rosparam file="$(find mybot_pkg)/config/costmap/common_costmap_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mybot_pkg)/config/costmap/common_costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mybot_pkg)/config/costmap/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find mybot_pkg)/config/costmap/local_costmap_params.yaml" command="load" />
        
        <rosparam file="$(find mybot_pkg)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find mybot_pkg)/config/global_planner/global_planner_params.yaml" command="load" />
        <rosparam file="$(find mybot_pkg)/config/local_planner/base_local_planner_params.yaml" command="load" if="$(eval arg('mode') == 'diff')" />
        <rosparam file="$(find mybot_pkg)/config/local_planner/teb_local_planner_params.yaml" command="load" if="$(eval arg('mode') == 'ack')" />
        
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom"    to="$(arg odom_topic)"/>
    </node>
    
</launch>