<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro '$(find mybot_pkg)/urdf/m2d.urdf'"/>
    <arg name="rviz_config_file" default="$(find mybot_pkg)/config/camera_config.rviz"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(find mybot_pkg)/worlds/library.world"/>
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
   </include>
   
    <node name="spawning_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot -param robot_description"/>
    
    
</launch>